<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
    <name replace-wildcards="yes">SambaNAS2 Server on %h</name>
    <service>
        <type>_smb._tcp</type>
        <port>445</port>
    </service>
        <service>
        <type>_srat._tcp</type>
        <port>${INGRESS_PORT}</port>
    </service>
</service-group>