name: Revert Last Commit on Master

on:
  workflow_dispatch:

jobs:
  revert:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Master
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          ref: master

      - name: Get Last Commit SHA
        id: get_commit
        run: |
          echo "COMMIT_SHA=$(git rev-parse HEAD)" >> $GITHUB_ENV

      - name: Create Revert Branch
        run: |
          git checkout -b revert-last-commit

      - name: Revert Last Commit
        run: |
          git revert $COMMIT_SHA --no-edit

      - name: Push Revert Branch
        run: |
          git push origin revert-last-commit

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8
        with:
          title: "Revert Last Commit"
          body: "This PR reverts the last commit on master."
          head: revert-last-commit
          base: master
