name: Revert Last Commit on Master

on:
  workflow_dispatch:

jobs:
  revert:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Master
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          ref: master

      - name: Get Last Commit SHA
        id: get_commit
        run: |
          echo "COMMIT_SHA=$(git rev-parse HEAD)" >> $GITHUB_ENV

      - name: Create Revert Branch
        run: |
          git checkout -b revert-last-commit

      - name: Revert Last Commit
        run: |
          git revert $COMMIT_SHA --no-edit

      - name: Push Revert Branch
        run: |
          git push origin revert-last-commit

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676 # v7
        with:
          title: "Revert Last Commit"
          body: "This PR reverts the last commit on master."
          head: revert-last-commit
          base: master
