name: Revert Last Commit on Master

on:
  workflow_dispatch:

jobs:
  revert:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Master
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          ref: master

      - name: Get Last Commit SHA
        id: get_commit
        run: |
          echo "COMMIT_SHA=$(git rev-parse HEAD)" >> $GITHUB_ENV

      - name: Create Revert Branch
        run: |
          git checkout -b revert-last-commit

      - name: Revert Last Commit
        run: |
          git revert $COMMIT_SHA --no-edit

      - name: Push Revert Branch
        run: |
          git push origin revert-last-commit

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412 # v7
        with:
          title: "Revert Last Commit"
          body: "This PR reverts the last commit on master."
          head: revert-last-commit
          base: master
